{% extends 'home/base.html' %}
{% block content %}
<h2 class="title">Contact</h2>
<hr>

<div class="text">
  <!-- DIMERBOW is an application that allows to the user to visualize possible dimers of GPCR.
<br>
Created by: -->
  <table class="people" ,="" style="margin-left:40px">
    <tbody>
      <tr>
        <td>
          <div class="file">
            <div class="info_researcher">
              <p class="name_researcher">García Recio, Adrián (Admin)</p><p class="mail_researcher">
                  agarcia15@imim.es</p>
              <p></p>

            </div>
          </div>
        </td>

      </tr>
    </tbody>
  </table>
  <br>
</div>
{% endblock %}  



</div>
