{% load static %}
<!-- Header -->
<header>
<div class="container" style="position: relative; background-color: black" align="center">
    <img src="{% static 'home/img/title_v2.png' %}" alt="Dimerbow logo" width="40%" height="50%">
    <!-- <img src="/dimerbow/static/home/img/title_v2.png" alt="Dimerbow logo" width="1800" height="400"> -->
</div>
</header>

<div class="navbar">
<a class="active" href="/"><i class="fa fa-fw fa-home"></i> Home</a>
<a href="manual"><i class="fa fa-fw fa-book"></i> Manual</a>
<a href="contact"><i class="fa fa-fw fa-at"></i> Contact</a>
</div>